
  <p>
    <strong>名字:</strong>
    <%= @user.name %>
  </p>

  <p>
    <strong>性别:</strong>
    <%= @user.sex %>
  </p>

  <p>
    <strong>年龄:</strong>
    <%= @user.age %>
  </p>

  <p>
    <strong>身份证:</strong>
    <%= @user.id_card %>
  </p>

  <p>
    <strong>角色:</strong>
    <%= @user.role %>
  </p>

  <p>
    <strong>电话:</strong>
    <%= @user.phone %>
  </p>

  <p>
    <strong>邮箱:</strong>
    <%= @user.email %>
  </p>

  <p>
    <strong>借书证:</strong>
    <%= @user.person_number %>
  </p>

  <p>
    <strong>状态:</strong>
    <%= @user.state_id %>
  </p>

  <!--log-->
  <% @logs.each do |f| %>
    <div>
      <p><%= f.start_date %></p>
      <p><%= f.end_date %></p>
    </div>
  <% end %>

  <!--返回-->
  <p>
    <%= link_to "返回", users_path  %>
  </p>

