
<h2>新建记录</h2>

<%= form_for @log, url: log_path(@log), method: :patch, html: {id: "logid"} do |f| %>
  <p>
    <%= f.label "名字" %>
    <%= f.text_field :user_id %>
  </p>

  <p>
    <%= f.label "事件" %>
    <%= f.text_field :state_id %>
  </p>

  <p>
    <%= f.label "具体情况" %>
    <%= f.text_area :content %>
  </p>

  <p>
    <%= f.label "开始时间" %>
    <%= f.text_field :start_date, placeholder: "2016-11-11" %>
  </p>

  <p>
    <%= f.label "截止时间" %>
    <%= f.text_field :end_date, placeholder: "2016-11-11" %>
  </p>

  <p>
    <%= f.submit "提交" %>
  </p>

<% end %>


<script>

  //这里对form进行验证,重要的事情请重视起来，用到插件jquery.validate.js
  //然后，form内部的input框，所有的限制条件，写在rules中。
  $('#logid').validate({
    rules:{
      "log[user_id]": {
        required: true,
      },
      "log[state_id]": {
        required: true,
      },
      "log[content]": {
        required: true,
        digits:true
      },
      "log[start_date]": {
        required: true,
      },
      "log[end_date]": {
        required: true,
        }
    });

  //这是对英文注释的中文翻译
  jQuery.extend(jQuery.validator.messages, {
    required: "输入框不能为空",
    remote: "请修正该字段",
    email: "请输入正确格式的电子邮件",
    url: "请输入合法的网址",
    date: "请输入合法的日期",
    dateISO: "请输入合法的日期 (ISO).",
    number: "请输入合法的数字",
    digits: "只能输入整数",
    creditcard: "请输入合法的信用卡号",
    equalTo: "请再次输入相同的值",
    accept: "请输入拥有合法后缀名的字符串",
    maxlength: jQuery.validator.format("请输入一个 长度最多是 {0} 的数字"),
    minlength: jQuery.validator.format("请输入一个 长度最少是 {0} 的数字"),
    rangelength: jQuery.validator.format("请输入 一个长度介于 {0} 和 {1} 之间的数字"),
    range: jQuery.validator.format("请输入一个介于 {0} 和 {1} 之间的值"),
    max: jQuery.validator.format("请输入一个最大为{0} 的值"),
    min: jQuery.validator.format("请输入一个最小为{0} 的值")
  });


</script>
