
<%= link_to "返回", logs_path %>
<p>
  <strong>姓名</strong>
  <%= @log.user_id %>
</p>

<p>
  <strong>事件</strong>
  <%= @log.state_id %>
</p>

<p>
  <strong>开始时间</strong>
  <%= @log.start_date %>
</p>

<p>
  <strong>截止时间</strong>
  <%= @log.end_date %>
</p>
