<!DOCTYPE html>
<html>
<head>
  <title>PersonManagement</title>
  <%= stylesheet_link_tag 'application', media: "all" %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>

<% if user_signed_in? %>
  <%= link_to "编辑信息", edit_user_registration_path %>
  <%= link_to "注销", destroy_user_session_path, :method => :delete %>
<% else %>
  <%= link_to "注册", new_user_registration_path %> or <%= link_to "登录", new_user_session_path %>
<% end %>

<%= yield %>

</body>
</html>
